@import "./variables";

* {
	box-sizing: border-box;
}

// borders

.drr {
	border: 2px solid red;
}

.dbb {
	border: 2px solid blue;
}

.dgg {
	border: 2px solid green;
}

.dyy {
	border: 2px solid yellow;
}

.dpp {
	border: 2px solid pink;
}

// border done
.bdd {
	border: 1px solid lightgray;
}

// backgrounds

.bgr {
	background-color: red;
}

.bgb {
	background-color: blue;
}

.bgg {
	background-color: green;
}

.bgd {
	background-color: lightgray;
}

.bgy {
	background-color: yellow;
}

.bgo {
	background-color: orange;
}

.bgpnk {
	background-color: pink;
}

//********************************************************************
//          ANIMATIONS
// *******************************************************************
.addFadeInUpAnimation {
	animation-name: fadeInUp;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		clip-path: inset(0px 0px 30px);
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		clip-path: inset(0px);
		transform: translate(0, 0);
	}
}

.animationDelayNone {
	animation-delay: 0s;
}

.animationDelay0125 {
	animation-delay: 0.125s;
}

.animationDelay_025 {
	animation-delay: 0.25s;
}

.animationDelay_0375 {
	animation-delay: 0.375s;
}

.animationDelay_0425 {
	animation-delay: 0.425s;
}

.animationDelay_050 {
	animation-delay: 0.5s;
}

.animationDelay_075 {
	animation-delay: 0.75s;
}

.animationDelay_090 {
	animation-delay: 0.9s;
}

.animationDelay_1 {
	animation-delay: 1s;
}

.animationTimingFunctionEaseOut {
	animation-timing-function: ease-out;
}

//********************************************************************
//        GENERIC CLASSES
// *******************************************************************

.body1 {
	box-sizing: border-box;
	position: relative;
}

.MercMainContainer {
	margin-bottom: 330px;
}

@media all and (max-width: 1023px) {
	.MercMainContainer {
		margin-bottom: 300px;
	}
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: $merc-blue;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
	background: #000;
}

.Global_cursorPointer {
	cursor: pointer;
}

.MercMainContainer {
	background-color: black;
}

.Global_Opacity0 {
	opacity: 0;
}

.Global_Opacity1 {
	opacity: 1;
}

.MercMainContainer_white25PxSeparator {
	background-color: white;
	height: 25px;
	width: 100%;
}

//********************************************************************
//          NavControl
// *******************************************************************
.MercMainContainer_NavHolder {
	height: fit-content;
}

.MercMainContainer_NavHolder_Slider {
	transition: transform 0.5s;
}

.MercMainContainer_NavHolder_Slider_Top100px {
	transform: translateY(-100px);
}

//********************************************************************
//          Medium NavBar Model
// *******************************************************************

.MercMainContainer_MediumNavBarModalContainer {
	position: fixed;
	width: 100%;
	height: 92vh;
	top: 75px;
	transform: scale(0);
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 100ms;
	z-index: 10000;
}

.MercMainContainer_MediumNavBarModalContainer--Opacity1 {
	opacity: 1;
	transform: scale(1);
}

.MercMainContainer_MediumNavBarModalContainer_BackgroundBlurDiv {
	background-color: black;
	opacity: 0.4;
	position: absolute;
	width: 100%;
	height: 100%;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox {
	position: relative;
	left: 25px;
	top: 45px;
	width: 376px;
	height: 80vh;
	background-color: white;
	border-radius: 5px;
	padding-top: 85px;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_CloseSignContainer_CloseSign {
	width: 42px;
	height: 42px;
	position: absolute;
	right: 30px;
	top: 21px;
	background-color: white;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer {
	padding-inline: 30px;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox {
	padding: 0px 0px 0px 20px;
	border: 1px solid transparent;
	outline: none;
	background-color: white;
	cursor: pointer;
	display: block;
	width: 100%;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox:active {
	border: 1px solid $merc-blue;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox_SingleItem {
	width: fit-content;
	font-size: 20px;
	line-height: 64px;
	font-weight: 400;
	color: $merc-gray2;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox_SingleItem:hover {
	color: black;
}

.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox_SingleItem--Active {
	font-weight: bold;
	color: black;
}

@media all and (max-width: 1023px) {
	.MercMainContainer_MediumNavBarModalContainer_ModalBox {
		width: 352px;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer {
		padding-inline: 20px;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_CloseSign {
		right: 20px;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox_SingleItem {
		font-size: 18px;
		line-height: 64px;
	}
}

//********************************************************************
//          SMALL NAVBAR
// *******************************************************************
@media all and (max-width: 767px) {
	.MercMainContainer_MediumNavBarModalContainer {
		height: 120vh;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox {
		padding-top: 0px;
		top: -75px;
		left: 0;
		width: 100%;
		height: 58vh;

		border-radius: 5px;
		background-color: $merc-lightgray;
	}

	.MercMainContainer_MediumNavBarModalContainer_BackgroundBlurDiv {
		background-color: $merc-lightgray;
		opacity: 1;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_CloseSignContainer {
		height: 63px;
		background-color: black;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_CloseSignContainer_CloseSign {
		width: 42px;
		height: 42px;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 0;
		margin: 0;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer {
		border-radius: 5px;
		margin-top: 5px;
		padding-top: 25px;
		background-color: white;
		height: 100%;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	}

	.MercMainContainer_MediumNavBarModalContainer_ModalBox_ItemsContainer_SingleItemBox_SingleItem {
		font-size: 18px;
	}

	// end of small navbar media 767px
}

// remove medium and small Navbar from being available on larger screens
@media all and (min-width: 1280px) {
	.MercMainContainer_MediumNavBarModalContainer {
		display: none;
	}
}

//********************************************************************
//          NEON WAVES SECTION
// *******************************************************************
.MercMainContainer_NeonWavesContainer {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

// bootstrap media queries

.MercMainContainer_NeonWavesContainer_Video {
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: 100vw;
	min-width: 1400px;
}

.MercMainContainer_NeonWavesContainer_TextBox {
	color: white;
	position: relative;
	z-index: 2;
	width: 1070px;
}

@media all and (min-width: 1280px) {
	.MercMainContainer_NeonWavesContainer_TextBox {
		margin: 138px 81px;
	}
}

@media all and (max-width: 1279px) {
	.MercMainContainer_NeonWavesContainer_TextBox {
		margin: 167px 81px;
	}
}

@media all and (max-width: 1179px) {
	.MercMainContainer_NeonWavesContainer_TextBox {
		margin: 105px 81px;
	}
}

.MercMainContainer_NeonWavesContainer_TextBox_Logo {
	padding-bottom: 26px;
}

.MercMainContainer_NeonWavesContainer_TextBox_Logo img {
	width: 222px;
	height: 22px;
	@extend .addFadeInUpAnimation;
}

.MercMainContainer_NeonWavesContainer_TextBox_Title {
	font-size: 120px;
	line-height: 120px;
	font-weight: 700;
	padding-bottom: 23px;
	@extend .addFadeInUpAnimation;
}

.MercMainContainer_NeonWavesContainer_TextBox_ButtonBox button {
	outline: none;
	border: 1px solid white;
	background-color: transparent;
	font-size: 18px;
	line-height: 29px;
	font-weight: 600;
	height: 47px;
	width: 184px;
	color: white;
	margin-top: 37px;
	border-radius: 2px;
	cursor: pointer;
	@extend .addFadeInUpAnimation;
}

.MercMainContainer_NeonWavesContainer_TextBox_ButtonBox button:hover {
	color: black;
	background-color: white;
}

@media all and (max-width: 1023px) {
	.MercMainContainer_NeonWavesContainer_TextBox {
		margin: 290px 0px;
		max-width: 90vw;
	}

	.MercMainContainer_NeonWavesContainer_TextBox_Logo {
		padding-bottom: 5px;
	}

	.MercMainContainer_NeonWavesContainer_TextBox_Logo img {
		width: 172px;
		height: 22px;
	}

	.MercMainContainer_NeonWavesContainer_TextBox_Title {
		font-size: 45px;
		line-height: 50px;
		font-weight: 800;
		padding: 5px 0px;
	}

	.MercMainContainer_NeonWavesContainer_TextBox_Title span {
		display: block;
		margin-bottom: 10px;
	}

	.MercMainContainer_NeonWavesContainer_TextBox_ButtonBox button {
		font-size: 16px;
		line-height: 26px;
		margin-top: 27px;
		width: 145px;
		font-weight: 400;
	}
}

//********************************************************************
//         OUR MISSION SECTION
// *******************************************************************
.MercMainContainer_OurMissionContainer {
	display: flex;
	height: 510px;
}

.MercMainContainer_OurMissionContainer_VideoBox {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 50%;
}

.MercMainContainer_OurMissionContainer_VideoBox video {
	min-width: 700px;
	position: relative;
	right: 40px;
	clip-path: inset(0px 2px 0px 100px);
}

.MercMainContainer_OurMissionContainer_TextBox {
	width: 50%;
	background-color: white;
	display: flex;
	justify-content: start;
	align-items: center;
}

.MercMainContainer_OurMissionContainer_TextBox_InnerBox {
	margin-left: 25px;
	margin-right: 79px;
	width: 512px;
}

.MercMainContainer_OurMissionContainer_TextBox_InnerBox_Heading {
	font-size: 40px;
	line-height: 50px;
	font-weight: 900;
	margin-bottom: 40px;
}

.MercMainContainer_OurMissionContainer_TextBox_InnerBox_Text {
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 33px;
}

.MercMainContainer_OurMissionContainer_TextBox_InnerBox_AboutUs {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	cursor: pointer;
	position: relative;
	width: fit-content;
}

.MercMainContainer_OurMissionContainer_TextBox_InnerBox_AboutUs_BorderBelow {
	border: 1px solid $merc-blue;
	width: 33%;
	transition: width 0.4s ease-out;
}

.MercMainContainer_OurMissionContainer_TextBox_InnerBox_AboutUs:hover
	> .MercMainContainer_OurMissionContainer_TextBox_InnerBox_AboutUs_BorderBelow {
	width: 100%;
}

@media all and (max-width: 1439px) {
	.MercMainContainer_OurMissionContainer_TextBox_InnerBox {
		margin-left: 20px;
	}
}

@media all and (max-width: 1023px) {
	.MercMainContainer_OurMissionContainer {
		flex-direction: column;
		height: fit-content;
	}

	.MercMainContainer_OurMissionContainer_VideoBox {
		width: 100%;
	}

	.MercMainContainer_OurMissionContainer_VideoBox video {
		min-width: 100%;
		right: 10%;
	}

	.MercMainContainer_OurMissionContainer_TextBox {
		width: 100%;
		padding-bottom: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.MercMainContainer_OurMissionContainer_TextBox_InnerBox {
		width: 90%;
		margin-inline: auto;
	}

	.MercMainContainer_OurMissionContainer_TextBox_InnerBox_Heading {
		font-size: 20px;
		line-height: 30px;
		font-weight: 900;
		margin-bottom: 40px;
	}

	.MercMainContainer_OurMissionContainer_TextBox_InnerBox_Text {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		margin-bottom: 40px;
	}

	.MercMainContainer_OurMissionContainer_TextBox_InnerBox_AboutUs {
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
	}

	// end of the media query
}

//********************************************************************
//          MEET OUR TRIBE SECTION
// *******************************************************************
.MercMainContainer_MeetOurTribeContainer {
	background-color: white;
	padding-inline: 80px;
	padding-bottom: 110px;
}

.MercMainContainer_MeetOurTribeContainer_HeadingContainer {
	margin-inline: auto;
	max-width: 1060px;
}

.MercMainContainer_MeetOurTribeContainer_HeadingContainer_Heading {
	font-size: 80px;
	line-height: 88px;
	font-weight: 800;
	padding: 180px 0px 95px;
}

@media all and (max-width: 1023px) {
	.MercMainContainer_MeetOurTribeContainer {
		padding-inline: 0;
	}
	.MercMainContainer_MeetOurTribeContainer_HeadingContainer {
		max-width: 90%;
	}

	.MercMainContainer_MeetOurTribeContainer_HeadingContainer_Heading {
		padding: 108px 0px 60px;
		font-size: 32px;
		line-height: 42px;
		font-weight: 800;
	}
}

// TWO PIC COMPONENT
.MercMainContainer_MeetOurTribeContainer_TwoPicsComponentContainer {
	@extend .MercMainContainer_MeetOurTribeContainer_HeadingContainer;
}
